<form [formGroup]="form">
    <h3>Array Form 2</h3>
    Form : {{ form.value | json}}

    <div class="form-group">
        <label for="country">Country</label>
        <input required type="text" id="country" class="form-control" formControlName="country1" />

    </div>

    <div class="form-group">
        <label for="service">Serivce</label>
        <input required type="text" id="service" class="form-control" formControlName="service1" />
    </div>

    <br />
    <button type='button' class="btn btn-primary" (click)='add()'>Add Services</button>
    <br />

    <div formArrayName='services'>
        <div class='row' *ngFor="let line of serviceForms.controls; let i=index" [formGroupName]="i">
            <input class='form-control col-md-3' formControlName="country" />
            <input class='form-control col-md-3' formControlName="service" />
            <button class='btn btn-primary col-md-1' (click)="deleteService(i)">Delete</button>
        </div>
    </div>
    <br />


</form>