<form [formGroup]="form">
  <h3>Array Form</h3>
  Form : {{ form.value | json}}
  <div class="form-group">
    <label for="name">Name</label>
    <input
      required
      class="form-control"
      id="name"
      type="text"
      formControlName="name"
    />
    <div *ngIf="!fc['name'].valid && fc['name'].touched">
      <div class="alert alert-danger">Name is Required</div>
    </div>
  </div>

  <div [formGroupName]="fc['address']">
    <div class="form-group">
      <label for="line1">Address Line1 </label>
      <input
        required
        class="form-control"
        id="line1"
        type="text"
        formControlName="line1"
      />
      <div *ngIf="fc['line1'].invalid && fc['line1'].touched">
        <div class="alert alert-danger">Name is Required</div>
      </div>
      <button type='button' (click)='add()' >Add</button>

    </div>
  </div>
</form>
